@model Product
@{
    var begin = ViewBag.begin;
    var end = ViewBag.end; 
}
<div class="d-flex">
    <div class="h3 mb-3 font-weight-bold me-auto">
    <a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Products" asp-area="Admin">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"></path>
        </svg>
        Back to list
    </a>
</div>

    <div class="p-2">
        <form style='display:inline;' asp-controller="Products" asp-action="Delete" asp-route-id=@Model.Id asp-area="Admin" onclick="return confirm('Are you sure you want to delete this?')">
            <button type="button" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                    </path>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                    </path>
                </svg> Delete
            </button>
        </form>
           
        </div>
    <div class="pl-2 py-2">
      
            <button asp-controller="Products" asp-action="Edit" asp-area="Admin"
                    type="button" class="btn btn-warning">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                    <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg> Edit

            </button>
        
    </div>
    </div>
    

        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Details of product</h5>
            </div>
            <div class="card-body py-0 pb-3">
        <div class="row">
            <div class="col-12 col-lg-5">
                <img src="~/img/@Model.Image" width="400px" height="400px" />
            </div>
                <div class="col-10 col-lg-5">
                    <table class="table table-borderless">
                    <tr>
                        <td scope="col"><b>SKU</b></td>
                        <td scope="col">@Model.SKU</td>
                    </tr>
                    <tr>
                        <td scope="col"><b>NAME</b></td>
                        <td scope="col">@Model.Name</td>
                    </tr>
                    <tr>
                        <td scope="col"><b>STOCK</b></td>
                        <td scope="col">@Model.Stock.ToString()</td>
                    </tr>
                    <tr>
                        <td scope="col"><b>PRICE</b></td>
                        <td scope="col">$@Model.Price</td>
                    </tr>
                    <tr>
                        <td scope="col"><b>PRODUCT TYPE</b></td>
                        <td scope="col">@Model.ProductType.Name</td>
                    </tr>
                    <tr>
                        <td scope="col"><b>DESCRIPTION</b></td>
                        <td scope="col">@Model.Description</td>
                    </tr> 
                </table>
                </div>
            </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-2">
        
            <a  asp-controller="Products" asp-action="Details" asp-route-id=@(Model.Id-1) asp-area="Admin"
                type="button" class="btn btn-info @(Model.Id!=begin ? "": "disabled")" id="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                        <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
                    </svg> Previous
                </a>
         
        </div>
        <div class="col-2">
            
                <a asp-controller="Products" asp-action="Details" asp-route-id=@(Model.Id+1) asp-area="Admin"
           type="button" class="btn btn-info @(Model.Id!=end ? "": "disabled")">
                    Next <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                    </svg>
                </a>
            
            
        </div>

    </div>
